body {
    background-image: url("images/skyline.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}


img {
    max-width: 100%;
    height: 100%;
}