h1 {
    text-align: center;
    font-family: Verdana, serif;
}
body{
    font-family: Verdana, serif;
    font-style: italic;
}
h1{
    text-align: center;

}
h3{
    text-align: center;
}
.bombo{
    text-align: center;
}
.attraction-span{
    text-align: center;
}

.header-img {
    position: static;
    justify-content: center;
    align-items: center;

    padding-bottom: 10px;

}