<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>TuristGuide</title>
    <link rel="stylesheet" href="/images.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
<h1>Velkommen til Turistguiden</h1>
<table>
    <tr>
        <th>
            <h3>Attraktion</h3>
        </th>
        <th>
            <h3>Beskrivelse</h3></th>
        <th>
            <h3>By</h3></th>
        <th>
            <h3>Tags</h3></th>
    </tr>
    <div class="attractions" th:each="attraction : ${attractions}">
        <tr>
            <td>
                <a style="text-decoration:none" th:href="@{'/attractions/' + ${attraction.urlName}}" class="attraction-link">
               <span class="attraction-span" th:text="${attraction.name}"></span>
                </a>
            </td>
            <td>
            <span class="attraction-span" th:text="${attraction.description}"></span>
            </td>
            <td>
                <span class="attraction-span" th:text="${attraction.city}"></span>
            </td>
            <td>
                <a th:href="@{'/attractions/' + ${attraction.urlName} + '/tags'}" class=" button tags-button">Tags</a>
                <a th:href="@{'/attractions/{name}/edit'}" class="button update-delete-button">Opdater</a>
                <a th:href="@{'/attractions/delete'}" class="button update-delete-button">Delete</a>
            </td>
        </tr>
    </div>
</table>
<button>
    <a  style="text-decoration: none" th:href="@{'/attractions/create'}">Tilføj attraktion</a>
</button>
<footer>
    <p>Kontakt os på:
    <a href="mailto:info@touristguiden.dk">E-Mail</a>
    </p>
</footer>
</body>
</html>
