<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Tilføj turistattraktion</h1> <br>
<form class="create-form" action="attractions/create">
    <div class="form-group">
        <label class="create-form-label" for="name">Navn:</label>
        <input class="create-text-input" type="text" id="name"><br>
    </div>
    <div class="form-group">
        <label class="create-form-label" for="description">Beskrivelse:</label>
        <input class="create-text-input" type="text" id="description">
    </div>

</form>
</body>
</html>