<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Velkomstside</title>
    <link rel="stylesheet" href="/attractions.css">
</head>
<body>
<h1>Velkommen til Turistguide</h1>
<h3>
    Denne turistguide kan hjælpe dig til at finde danske turistattraktioner
</h3>

<ul>
    <li><a href="/attractions/Bakken">Bakken</a></li>
    <li><a href="/attractions/Den-Lille-Havfrue">Den Lille Havfrue</a></li>
    <li><a href="/attractions/Djurs-Sommerland">Djurs Sommerland</a></li>
    <li><a href="/attractions/Glyptoteket">Glyptoteket</a></li>
    <li><a href="/attractions/Tivoli">Tivoli</a></li>
    <li><a href="/attractions/all"></a></li>
</ul>
</body>
</html>