<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
    <link rel="stylesheet" href="/images.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h2 style="text-align: center">Tags</h2>
<table>
   <!-- <tr>
        <th>
            <h3>Tags</h3>
        </th>
    </tr>-->
    <div class="attractionTags-div" th:each=" tag : ${tags}">
    <tr>
        <td>
        <span th:text= "${tag.getDisplayValue()}"></span>
        </td>
    </tr>
</div>
</table>
<div th:if="${tags == null}">Tags not found</div>
<button onclick="history.back()" class="button go-back-button">Gå tilbage</button>
<footer>
</footer>
</body>
</html>