<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="/images.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Tilføj turistattraktion</h1> <br>
<form th:action="@{/attractions/create}" th:object="${touristAttraction}" class="update-form" method="post">
    <div class="form-group">
        <label class="update-form-label" for="name">Den nye attraktions navn:</label>
         <input class="update-text-input" type="text" id="name" th:field="*{name}"><br>
     </div>
        <label class="update-form-label" for="description">Beskrivelse af attraktionen:</label>
        <input class="update-text-input" type="text" id="description" th:field="*{description}">
    </div>
    <div class="form-group">
        <label> By:
            <select th:field="*{city}">
                <option value="">Select</option>
                <option th:each="city : ${cityList}" th:value="${city}" th:text="${city}"></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <div id="tags">
            <label th:each="tag : ${T(tourism.model.Tags).values()}" class="checkbox">
                <input type="checkbox" th:field="*{tags}" th:value="${tag}" />
                <span th:text="${tag.getDisplayValue()}"></span>
            </label>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>


<button onclick="history.back()" class="button go-back-button">Gå tilbage</button>
<footer>
</footer>
</body>
</html>